.search-form-group {
    display: flex;
    width: 100%;
    justify-content: baseline;
    align-items: center;
    padding: 10px 10px;
    background-color: rgba(135, 254, 254, 0);
}

.search-form-group input {
    width: 60%;
}

.search-form-group select {
    width: 20%;
}

.search-form-group button {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    position: fixed;
    margin: 0 auto;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 996;

}